table {
  td {
    vertical-align: middle;
    border: 0;
  }
  tr {
    height: 50px;
  }

  th {
    border: 0;
  }
}

.custom-table__action-btn {
  cursor: pointer;
  border: 0;
  background: none;
  margin-right: 5px;

  svg {
    pointer-events: none;
    padding: 5px;
    width: 1.7em;
    height: 1.7em;
  }
}
